#title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}
.redtext{
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    border: 3px white;
}
