.textbox {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    color: white;
    background-color: black;
    padding: 50px;
    margin: 10px;
    border: 2px solid blue;
    border-radius: 10px;
    display: inline-block;
    overflow: scroll;
    width: 200px;
    height: 60px;
}
.bottomtext {
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px 0;
    border: 2px solid blue;
}